@import "tailwindcss";

@theme {
  --color-primary: #cff532;
  --color-primary-hover: #bce628;
  --color-secondary: #222222;
  --font-sans: var(--font-inter);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@utility text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@utility neon-glow {
  box-shadow: 0 0 10px rgba(207, 245, 50, 0.5), 0 0 20px rgba(207, 245, 50, 0.3);
}